.container{
    background-color: rgb(221, 67, 170);
    border:3px solid rebeccapurple;

    /*padding-top: 40px;
    padding-right: 35px;
    padding-left: 40px;
    padding-bottom: 40px;*/

    /*padding: 30px 40px 50px 40px;*/

    padding: 10px 20px;

    /*margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 14px;
    margin-right: 21px;*/

   /* margin: 60px 20px 30px 40px;*/ /*clockwise direction TRBL*/

   margin: 50px 100px
}