
.container{
    width: 650px;
    margin: 20px auto;
    border: 3px solid rgb(17, 202, 184);
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(238, 223, 196);
}
a{
    text-decoration: none;
}
a:hover{
    background-color: khaki;
}
a:visited{
    background-color: violet;
}
a:active{
    background-color: rgb(224, 168, 64);
}
.btn:hover{
    background-color: lavender;
}
.btn{
    background-color: rgb(39, 212, 160);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    color: white;
}